BASE_URL = https://dev-ai-expert.digitalplatform.kz
APPLICANT_LOGIN = your_applicant_login
APPLICANT_PASSWORD = your_applicant_password
EXPERT_LOGIN = your_expert_login
EXPERT_PASSWORD = your_expert_password
ADMIN_LOGIN = your_admin_login
ADMIN_PASSWORD = your_admin_password
CHAIRMAN_LOGIN = your_chairman_login
CHAIRMAN_PASSWORD = your_chairman_password
BOARDMEMB_LOGIN = your_board_member_login
BOARDMEMB_PASSWORD = your_board_member_password
